body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5vw;
}
input {
    width:100%;
}
.table{width:80%}
.courseSelector{
    width:35%;
    margin-top:15px;
    margin-bottom:15px;
display:flex;
flex-direction: column;
border:2px solid black;
align-items: center;
input{
    margin-top:15px;
    margin-bottom:15px;
    width:25%;
}
select{
    margin-top:15px;
}
}
#holeNum{
    background-color: rgb(118, 11, 11);
    color:rgb(255, 255, 255);
}
.drkRow{
    background-color: rgb(213, 213, 213);
}
@media only screen and (max-width: 1100px) {
    body {
      font-size:1.2vw;
      tr{width:30%;}
      .border{
          input{
              width:200%;
          }
      }
    }
  }