body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
input {
    width:25%;
}
.courseSelector{
    width:300px;
    margin-top:15px;
    margin-bottom:15px;
display:flex;
flex-direction: column;
border:2px solid black;
align-items: center;
input{
    margin-top:15px;
    margin-bottom:15px;
}
select{
    margin-top:15px;
}
}
#holeNum{
    background-color: rgb(118, 11, 11);
    color:rgb(255, 255, 255);
}
.drkRow{
    background-color: rgb(213, 213, 213);
}